## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [33]:
import os
import numpy as np
import pandas as pd

In [34]:
# 設定 data_path
dir_data = './data/'

In [36]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data %s' % (f_app))
app_train = pd.read_csv('D:\\P1\\date\\application_test.csv')

Path of read in data ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [38]:
(row , column ) = app_train.shape
print('row 數以及 column 數:',(row , column ))

row 數以及 column 數: (48744, 121)

#### 列出所有欄位

In [40]:
app_train

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
6,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
7,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
9,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
10,100074,Cash loans,F,N,Y,0,67500.0,675000.0,25447.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
11,100090,Cash loans,F,N,Y,0,135000.0,261621.0,16848.0,216000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
12,100091,Cash loans,F,N,Y,0,247500.0,296280.0,23539.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
13,100092,Cash loans,F,Y,Y,0,90000.0,360000.0,18535.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
14,100106,Revolving loans,M,N,Y,0,180000.0,157500.0,7875.0,157500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
15,100107,Cash loans,M,Y,Y,0,180000.0,296280.0,21690.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
16,100109,Cash loans,F,Y,Y,0,202500.0,407520.0,26041.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
17,100117,Cash loans,M,Y,Y,0,90000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
18,100128,Cash loans,F,Y,Y,1,225000.0,431280.0,23526.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0
19,100141,Cash loans,F,Y,Y,0,175500.0,478498.5,46741.5,454500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,100150,Cash loans,F,N,Y,0,99000.0,225000.0,19242.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
21,100168,Cash loans,F,N,Y,0,157500.0,266652.0,16443.0,202500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
22,100169,Cash loans,F,N,Y,0,135000.0,540000.0,27702.0,540000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23,100170,Cash loans,M,N,Y,1,337500.0,1313212.5,42493.5,1012500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
24,100171,Cash loans,M,Y,Y,0,157500.0,539100.0,29245.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
25,100172,Cash loans,F,N,Y,0,76500.0,225000.0,12334.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
26,100184,Cash loans,F,N,Y,0,112500.0,256032.0,10759.5,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
27,100187,Cash loans,F,N,Y,0,225000.0,501363.0,25726.5,418500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100212,Cash loans,F,Y,N,0,90000.0,450000.0,23107.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,Cash loans,F,Y,Y,0,360000.0,945000.0,34074.0,945000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,Cash loans,F,N,N,1,360000.0,547272.0,43366.5,495000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
48715,455965,Cash loans,M,Y,Y,0,315000.0,900000.0,57519.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48716,456007,Cash loans,M,N,Y,0,135000.0,318645.0,16398.0,216000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48717,456008,Cash loans,F,N,Y,0,81000.0,180000.0,13455.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
48718,456009,Cash loans,F,N,Y,0,225000.0,360000.0,19530.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48719,456010,Cash loans,F,N,Y,1,112500.0,690313.5,35374.5,549000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48720,456011,Cash loans,F,Y,Y,1,171000.0,323460.0,23134.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48721,456013,Cash loans,F,N,Y,1,130500.0,468333.0,37129.5,382500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48722,456028,Cash loans,M,N,Y,0,220500.0,166500.0,13284.0,166500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48723,456058,Cash loans,F,N,N,1,67500.0,315000.0,16213.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48724,456111,Cash loans,F,N,Y,1,112500.0,514710.0,17707.5,387000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48725,456114,Cash loans,F,N,N,0,45000.0,450000.0,24543.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48726,456115,Cash loans,M,N,Y,1,225000.0,1002339.0,37917.0,846000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48727,456116,Cash loans,F,N,N,1,180000.0,149256.0,15291.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48728,456119,Cash loans,F,N,Y,0,247500.0,685386.0,38398.5,585000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48729,456120,Cash loans,F,N,N,2,81000.0,135000.0,16020.0,135000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48730,456122,Cash loans,M,Y,N,2,157500.0,445095.0,40824.0,405000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
48731,456123,Cash loans,F,Y,Y,0,112500.0,450000.0,28890.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48732,456166,Cash loans,F,N,Y,0,189000.0,479700.0,54382.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48733,456167,Cash loans,F,N,Y,0,135000.0,1047771.0,37764.0,904500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48734,456168,Cash loans,F,N,Y,0,135000.0,835686.0,46660.5,765000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48735,456169,Cash loans,F,N,N,0,85500.0,109008.0,7411.5,90000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48736,456170,Cash loans,F,Y,Y,0,157500.0,500490.0,48888.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48737,456189,Cash loans,F,N,Y,0,270000.0,360000.0,28570.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48738,456202,Cash loans,F,Y,N,3,135000.0,252022.5,23112.0,217561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

#### 截取部分資料

In [41]:
app_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [43]:
app_train.iloc[[8]]

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0